@import "./loading.css";

/* --------  General Bulma css framework modifications -------- */

.columns {
  margin-inline: 0;
}

.column {
  padding-inline: 0;
}

.card-header-icon {
  cursor: auto;
}

.modal-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* --------  Custom CSS -------- */

/* Custom hero css */
.hero-section {
  background-image: url("/images/sky.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  position: relative;
  height: clamp(10rem, 17vw, 20rem);
}

.hero-section-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to top right,
    rgb(0, 214, 210) 0%,
    rgba(126, 76, 134, 0) 59%
  );
}

.hero-section-body .title {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: clamp(2rem, 10vw, 4rem);
  color: aliceblue;
  z-index: 1;
}

/* --------  Locations panel -------- */

.location-entry {
  display: flex;
}

.location-entry span {
  pointer-events: none;
}

.location-entry .location-title {
  flex-basis: 100%;
}

.location-entry .delete {
  pointer-events: all;
  margin-right: 0;
  margin-left: 0.75em;
}

/* Animations for indicating new and existing locations */
.shine-error {
  animation: shine-error 2s;
}

.shine-new {
  animation: shine-new 2s;
}

@keyframes shine-error {
  0% {
    background-color: transparent;
  }
  20% {
    background-color: #fde0e6;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes shine-new {
  0% {
    background-color: transparent;
  }
  20% {
    background-color: #defffa;
  }
  100% {
    background-color: transparent;
  }
}

/* --------  Responsive styling -------- */

@media screen and (min-width: 0px) {
  .column.input-section {
    width: 100%;
  }

  /* Applies to all weather cards. */
  .card-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  #five-day-forecast .card-content img {
    height: 100px;
  }

  #five-day-forecast > h2 {
    padding-left: 12px;
  }
}

@media screen and (min-width: 750px) {
  main {
    display: flex;
  }

  .column.input-section {
    width: 50%;
  }

  #five-day-forecast {
    display: flex;
    flex-wrap: wrap;
  }

  #five-day-forecast > h2 {
    flex-basis: 100%;
  }

  .five-day-forecast-card {
    flex-basis: 225px;
  }

  .five-day-forecast-card .card-content {
    flex-direction: column !important;
  }
}

@media screen and (min-width: 1025px) {
  .column.input-section {
    width: 33.3333%;
  }
}
